<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <form method="POST" action="/register">
    Change Password:<input type="text" name="username" >
    Set Profile Photo:<input type="url" name="profileLink">
    <button name="deleteAccount">DELETE ACCOUNT</button>
    <input type="submit" name="submit">
    </form>
    

    <a href="/">Home</a>
</body>
</html>